body{
  background-color: pink;
}
/*Utilizando la propieda clear: left los elementos se movera (flotarán) encima */
.block {
	width: 200px;
	height: 200px;
}
.float { float: left; }
.clear { clear: left; }
.pink { background: #ee3e64; }
.blue { background: #44accf; }
.green { background: #b7d84b; }
.orange { background: #E2A741; }
